footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 112px 104px;
    background-color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.instagram {
    margin-left: 32px;
    margin-right: 26px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #CDBEB9;
    margin-bottom: 64px;
}

.footerColumnsWrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1121px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 38px;
}

.footerColumn1 {
    &__text {
        padding-left: 61px;
        padding-bottom: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: #CDBEB9;
    }
}

.footerColumn2 {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 16px;
    padding-left: 34px;

    li {
        margin: 0;
        padding: 0;
        padding-bottom: 14px;
    }

    &__link {
        color: #6C514B;
        font-size: 15px;
        line-height: 20px;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
    }
}

.footerColumn3 {
    width: 256px;
    padding-top: 16px;
    padding-right: 20px;

    &__text {
        padding-bottom: 37px;
        color: #CDBEB9;
        font-size: 15px;
        line-height: 20px;
        font-family: 'Lato', sans-serif;
    }

    &__input {
        width: 100%;
        padding-bottom: 14px;
        padding-top: 0;
        border: 0;
        outline: none;
        border-bottom: 1px solid #6C514B;
        margin-bottom: 24px;
        padding-left: 0;
    }

    &__input::-webkit-input-placeholder {
        color: #6C514B;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 14px;
    }

    &__input::-moz-placeholder {
        color: #6C514B;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 14px;
    }

    &__input:-ms-input-placeholder {
        color: #6C514B;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 14px;
    }

    &__input::-ms-input-placeholder {
        color: #6C514B;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 14px;
    }

    &__input::placeholder {
        color: #6C514B;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 14px;
    }

    &__button {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__button:hover {
        cursor: pointer;
    }
}

.footerColumn4 {
    padding-top: 16px;

    &__link {
        color: #DB5D5D;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
    }

    &__iconsWrapper {
        padding-top: 44px;
        padding-bottom: 28px;
    }

    &__text {
        color: #CDBEB9;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }
}